In [2]:

import pandas as pd
import os

In [81]:
def load_files(data_directory):
    dirs = [d for d in os.listdir(data_directory)
        if os.path.isdir(os.path.join(data_directory,d))]
    labels = []
    files  = []
    for d in dirs:
        label_dir = os.path.join(data_directory,d)
        files_names = [os.path.join(label_dir,f)
                        for f in os.listdir(label_dir)
                        if f.endswith(".xlsx") or f.endswith(".csv")]
        for k in files_names:
            if "csv"==k.split(".")[1]:
                files.append(["csv",k,pd.read_csv(k,sep=",|\t|;",engine="python")])
    return files

In [91]:
main_path = "c:\\Users\\temporal\\datos_energia\\datos\\ine"
total_files = load_files(main_path)

In [ ]:

#labels = dataframes.keys()
#for label in labels:
#    print(f"Dimension de la hoja: {label}  --------> Shape: {dataframes[label].shape}")

In [92]:
def concatFiles(files):
    return pd.concat([files[i][2] for i in range(len(files))],axis=0)

In [85]:
total_files[1][2]

,ANIO,ID,CIIU4,TAMANO,TEED,IMPUTACION,A001,A002,A003,A004,...,J160,K001,K002,K004,K006,K007,K008,K009,K010,K011
0,2016,100001,35,4,4,0,5,100.0,0.0,0.0,...,0,389696.0,22011822,330453,11530424.0,22015284,8598957,22015284.0,11675641.0,10339643.0
1,2016,100002,35,3,3,0,7,100.0,0.0,0.0,...,0,1035856.0,1809894,31947,1163725.0,1809894,1027875,1809894.0,1425730.0,384164.0
2,2016,100003,35,4,4,0,6,100.0,0.0,0.0,...,0,4078973.0,7881674,174657,4536158.0,7889631,448489,7849529.0,5846956.0,2002573.0
3,2016,100004,35,2,2,0,4,100.0,0.0,0.0,...,0,1393293.0,2182613,470321,2028178.0,2182613,5029,2181888.0,2193722.0,-11834.0
4,2016,100005,35,3,3,0,4,100.0,0.0,0.0,...,731901,643231.0,4932485,38047,1449032.0,4932485,-90424,4932485.0,1655470.0,3277015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,2016,100186,35,2,1,0,4,100.0,0.0,0.0,...,0,0.0,3912559,968683,1515780.0,3912559,10958081,3912559.0,1367744.0,2544815.0
186,2016,100187,35,0,0,0,4,99.0,1.0,0.0,...,0,1071228.0,1120747,117,1149083.0,1120747,0,1120747.0,1263695.0,-142948.0
187,2016,100188,35,0,0,0,10,100.0,0.0,0.0,...,4457,0.0,5966,17841,7756.0,5966,0,5966.0,10741.0,-4775.0
188,2016,100189,35,1,0,0,4,100.0,0.0,0.0,...,96777,0.0,125685,474381,23758.0,125685,0,125685.0,62478.0,63207.0
189,2016,100190,35,0,0,0,2,100.0,0.0,0.0,...,277043,16067.0,923088,32175,48016.0,923088,0,923088.0,738278.0,184810.0

In [87]:
df_ine = concatFiles(total_files)

In [89]:
df_ine.columns

Index(['ANIO', 'ID', 'CIIU4', 'TAMANO', 'TEED', 'IMPUTACION', 'A001', 'A002',
       'A003', 'A004',
       ...
       'J154', 'J155', 'J156', 'J157', 'J158', 'J159', 'J160', 'K010', 'K011',
       'CLASIFICACION'],
      dtype='object', length=505)

In [93]:
df_ine.isna().sum()

ANIO               0
ID                 0
CIIU4              0
TAMANO             0
TEED               0
                ...
J159             881
J160             881
K010             881
K011             881
CLASIFICACION    831
Length: 505, dtype: int64